@import url("@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* CSS rules to specify families
font-family: 'Lexend Deca', sans-serif;
font-family: 'Big Shoulders Display', cursive; */

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.box {
    border-radius: 12px;
    margin: 2rem;
    width: 50rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.sec {
    padding: 40px;
}
.sec-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 12px 0px 0px 12px;
}
.sec-2 {
    background-color: hsl(184, 100%, 22%);
}
.sec-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 12px 12px 0px;
}

.box h2 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 40px;
    
}

.box p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.7;
}

.sec form {
    width: 100px;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 70px;
    border: 2px solid hsl(0, 0%, 95%);
}

input[type=button] {
    background-color: hsl(0, 0%, 95%);
    border: 2px;
    border-radius: 25px;
    padding: 0px 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }

.sec-1 input {
    color: hsl(31, 77%, 52%);
}

.sec-2 input {
    color: hsl(184, 100%, 22%);
}

.sec-3 input {
    color: hsl(179, 100%, 13%);
}
